<!-- Header section -->
<%- include('partials/header'); -%>



    <h1>
        <%= title %>
    </h1>
    <p>
        <%= content %>
    </p>
    <br>
    <!-- <a class="btn btn-primary" href="" role="button">Delete Post</a> -->





    <!-- Footer section-->
    <%- include('partials/footer'); -%>